.inputInner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.inputInner.full{
    width: 100%;
}

.inputTitle{
	font-size: 1.4rem;
	line-height: 1.2;
}

.inputWrapper{
	width: 100%;
	position: relative;
}

.inputWrapper > svg{
	color: #00A31E;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	position: absolute;
	top: 16px;
	left: 16px;
}

.input{
	width: 100%;
	padding: 1.6rem;
	line-height: 1.5;
	color: #1F222C;
	border: 1px solid #B1B5C3;
	border-radius: 16px;
}

textarea.input{
	resize: none;
	height: 120px;
}

.disabled .input{
	pointer-events: none;
}

.disabled svg, .disabled .input{
	opacity: 0.65;
	filter: grayscale(1);
}

.input.withIcon{
	padding: 1.6rem 3.2rem 1.6rem 4.8rem;
}

.inputMessage{
	margin-top: 0.4rem;
    width: 100%;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #FEF1F2;
    border-radius: 16px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.inputMessage svg {
    width: 16px;
    flex-shrink: 0;
    color: #F40D29;
}