.breadcrumbs{
	width: 100%;
	padding: 0.8rem 0;
}

.breadcrumbsInner{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 4px;
}

.breadcrumbsLink, .breadcrumbsText{
	display: flex;
	color: #1F222C;
	padding: 0.4rem;
	line-height: 1.5;
}

.breadcrumbsLink:first-child{
	padding: 0;
}

.breadcrumbsLink svg, .breadcrumbsArrow{
	width: 16px;
	flex-shrink: 0;
}

.breadcrumbsArrow{
	color: #1F222C;
}

.breadcrumbsText{
	color: #00A31E;
}

// Отзывы
.reviewpage{
	width: 100%;
	padding: 0.8rem 0rem 8rem 0;
}

@media (max-width: 1270px) {
	.reviewpage{
		padding: 0.8rem 0rem 7rem 0;
	}
}
@media (max-width: 1065px) {
	.reviewpage{
		padding: 0.8rem 0rem 6rem 0;
	}
}
@media (max-width: 998px) {
	.reviewpage{
		padding: 0.8rem 0rem 5rem 0;
	}
}
@media (max-width: 768px) {
	.reviewpage{
		padding: 0.8rem 0rem 4rem 0;
	}
}

.reviewpageInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.reviewform{
	width: 100%;
	padding: 8rem 0;
}

@media (max-width: 1270px) {
	.reviewform{
		padding: 7rem 0;
	}
}
@media (max-width: 1065px) {
	.reviewform{
		padding: 6rem 0;
	}
}
@media (max-width: 1065px) {
	.reviewform{
		padding: 5rem 0;
	}
}
@media (max-width: 998px) {
	.reviewform{
		padding: 4rem 0;
	}
}

.reviewpageTitleInner{
	width: 100%;
	margin: 8rem 0 4rem 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 24px;
}

@media (max-width: 1065px) {
	.reviewpageTitleInner{
		flex-direction: column;
		align-items: flex-start;
	}
}
@media (max-width: 768px) {
	.reviewpageTitleInner{
		margin-top: 4rem;
	}
}

.reviewformInner{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: space-between;
}

@media (max-width: 1065px) {
	.reviewformInner{
		flex-direction: column;
		align-items: center;
	}
}

.reviewformImg{
	width: 100%;
	max-width: 750px;
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	display: flex;
	overflow: hidden;
	border-radius: 24px;
	position: relative;
}

@media (max-width: 1630px) {
	.reviewformImg{
		max-width: 550px;
	}
}
@media (max-width: 1270px) {
	.reviewformImg{
		max-width: 350px;
	}
}
@media (max-width: 1065) {
	.reviewformImg{
		max-width: 550px;
	}
}

.reviewformImg img{
	object-fit: cover;
}

.reviewformForm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 80px;
}

@media (max-width: 768px) {
	.reviewformForm{
		gap: 40px;
	}
}

.reviewformFormWrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.reviewsText{
	width: 100%;
	max-width: 760px;
	font-size: 1.8rem;
	line-height: 1.5;
}

@media (max-width: 1270px) {
	.reviewsText{
		max-width: 500px;
		font-size: 1.6rem;
	}
}

.reviewformFormText{
	font-size: 2.4rem;
	line-height: 1.5;
}

.reviewsTitleWrap{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.reviewformFormContent{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.reviewsContent{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}

@media (max-width: 1065px) {
	.reviewsContent{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 768px) {
	.reviewsContent{
		grid-template-columns: 1fr;
	}
}

.reviewformFormInputInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.reviewformFormInputInner.full{
	width: 100%;
}

.reviewformFormInputInner.third{
	width: calc(100% / 3 - 48px / 3);
}

.reviewformFormInputText{
	font-size: 1.4rem;
	line-height: 1.2;
}

.reviewformFormInputWrap, .orderPromoInputWrap{
	width: 100%;
	position: relative;
}

.reviewformFormInputWrap > svg:not(.reviewformFormSelectArrow){
	color: #00A31E;
	width: 24px;
	flex-shrink: 0;
	position: absolute;
	top: 16px;
	left: 16px;
}

.reviewformFormInput, .reviewformFormTextarea{
	width: 100%;
	padding: 1.6rem 0.8rem 1.6rem 4.8rem;
	line-height: 1.5;
	color: #1F222C;
	border: 1px solid #B1B5C3;
	border-radius: 16px;
}

.withIcon .reviewformFormInput{
	padding: 1.6rem 3.2rem 1.6rem 4.8rem;
}

.inputButton{
	padding: 0;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1F222C;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 4px;
}

.reviewformFormTextarea{
	resize: none;
	height: 136px;
}

.reviewformButtons{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 24px;
}

@media (max-width: 768px) {
	.reviewformButtons{
		flex-wrap: wrap;
	}

	.reviewformButtons button{
		width: 100%;
		justify-content: center;
	}
}

.reviewformButton{
	padding: 1.6rem 4rem;
    border-radius: 16px;
    color: #fff;
    background: #B1B5C3;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 8px;
	width: 100%;
	transition: background .2s linear;
}

.reviewformButtonWrapper, .reviewformButtonWrapper label{
	max-width: unset!important;
	width: auto!important;
}

@media (max-width: 768px) {
	.reviewformButtonWrapper, .reviewformButtonWrapper label{
		width: 100%!important;
	}
}

.reviewformButton svg{
	width: 24px;
	flex-shrink: 0;
}

.reviewformAgree{
	width: 100%;
	display: flex;
	grid-column: span 2;
}

.checkbox{
	display: none;
}

.reviewformLabel{
	color: #1F222C;
	font-size: 1.4rem;
	line-height: 1.5;
	display: flex;
	position: relative;
	padding-left: 2.8rem;
}

.reviewformLabel:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 1px;
	border: 1px solid #777E90;
	transition: .2s linear;
}

.reviewformLabel:after{
	content: "";
	width: 16px;
	height: 16px;
	background: url("/img/check.svg") center no-repeat;
	position: absolute;
	top: 3px;
	left: 2px;
	opacity: 0;
	transition: .2s linear;
}

.checkbox:checked + .reviewformLabel:after{
	opacity: 1;
}

.checkbox:checked + .reviewformLabel:before{
	border: 1px solid #00A31E;
	background: #00A31E;
}

@media (any-hover: hover) {
    .breadcrumbsLink:hover{
		color: #00A31E;
	}

	.reviewformButton{
		cursor: pointer;
	}

	.reviewformButton:hover{
		background: #8f929e;
	}
}