.adminTeam{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 6.4rem 3.2rem;
}

.createForm{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 0 auto;
}

.adminTeamWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.titleWrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.adminTeamItems{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px;
}

@media (max-width: 1500px) {
    .adminTeamItems{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px) {
    .adminTeamItems{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 900px) {
    .adminTeamItems{
        grid-template-columns: 1fr;
    }
}

.pagination{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 1.6rem 0;
}

.paginationButton{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    color: var(--main);
    border: 1px solid var(--main);
    font-weight: 600;
}

.paginationButton.active{
    color: #fff;
    background: var(--main);
}

@media (any-hover: hover) {
    .paginationButton:hover{
        background: var(--main);
        color: #fff;
    }
}