// Главный блок
.main{
	width: 100%;
	padding: 2.4rem 0;
}

.mainInner{
	width: 100%;
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	padding: 9rem 4rem;
}

.mainColor{
	background: #F2F3EE;
}

.mainBg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	pointer-events: none;
	user-select: none;
}

.mainMan{
	position: absolute;
	pointer-events: none;
	user-select: none;
	top: 50%;
	transform: translateY(-50%);
	right: 100px;
	width: 100%;
	max-width: 520px;
}

.mainImg{
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: -170px;
	top: -180px;
	width: 100%;
	max-width: 800px;
}

.mainContent{
	width: 100%;
	max-width: 745px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.mainDelivery{
	padding: 1.6rem;
	background: #FF6433;
	color: #fff;
	text-transform: uppercase;
	font-size: 3.6rem;
	line-height: 1.2;
	font-weight: 700;
	border-radius: 24px;
	transform: rotate(-5deg);
	position: absolute;
	z-index: 0;
	right: -100px;
	top: 107px;
}

.mainTitleInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.mainTitle{
	text-transform: uppercase;
	font-size: 4rem;
	line-height: 1.2;
	font-weight: 700;
}

.mainTitle.green{
	color: #00A31E;
}

.mainTextInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 3.7rem;
}

.mainText{
	font-size: 1.8rem;
	line-height: 1.5;
}

.mainSubtext{
	color: #00A31E;
	font-size: 2.4rem;
	line-height: 1.5;
	margin-top: 0.8rem;
}

.mainLink{
	margin-top: 5rem;
}

.mainWrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.mainPoints{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.mainPoint{
	width: calc(100% / 5 - 64px / 5);
	padding: 1.6rem;
	display: flex;
	align-items: center;
	gap: 16px;
	background: #FCFCFD;
	border: 1px solid #E6E8EC;
	border-radius: 8px;
}

@media (max-width: 1630px) {
    .mainPoint{
		width: calc(100% / 3 - 32px / 3);
	}

	.mainPoint:nth-child(4), .mainPoint:last-child{
		width: calc(100% / 2 - 16px / 2);
	}
}
@media (max-width: 768px) {
    .mainPoint{
		width: calc(100% / 2 - 16px / 2);
	}

	.mainPoint:nth-child(4){
		order: 5;
		width: 100%;
	}
}
@media (max-width: 480px) {
    .mainPoint{
		padding: 1.6rem 0.8rem;
	}
}

.mapPointIcon{
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapPointIcon img{
	max-width: 100%;
	max-height: 100%;
}

// Отзывы
.reviews{
	width: 100%;
	padding: 8rem 0;
}

.reviewsInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.reviewsContent{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 24px;
}

.reviewsTitleInner{
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 24px;
}

.reviewsTitleWrap{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.reviewsTitle{
	text-transform: uppercase;
	font-size: 3.6rem;
	line-height: 1.2;
	font-weight: 700;
}

.reviewsText{
	width: 100%;
	max-width: 760px;
	font-size: 1.8rem;
	line-height: 1.5;
}

// Комплекс
.complex{
	width: 100%;
	padding: 8rem 0;
}

.complexInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.complexTitle{
	text-transform: uppercase;
	font-size: 3.2rem;
	line-height: 1.2;
	font-weight: 700;
}

.complexSlider{
	width: 100%;
	margin-top: 8rem;
}

.complexItem{
	position: relative;
	display: flex!important;
	padding: 4rem 2.4rem 2.4rem 2.4rem;
	border-radius: 16px;
	overflow: hidden;
	border: 2px solid transparent;
	height: auto!important;
	background: #F2F3EE;
	transition: border .2s linear!important;
	user-select: none;
}

.complexItem.green{
	background: #F0FAF2;
}

.complexItem.yellow{
	background: #FFF7F1;
}

.complexItem.active{
	border: 2px solid #00A31E;
}

.complexTextInner{
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.complexTextTitle{
	text-transform: uppercase;
	font-size: 2.8rem;
	line-height: 1.2;
	font-weight: 600;
}

.complexTextText{
	line-height: 1.5;
	margin: 1.6rem 0 .4rem 0;
}

.complexTextPrice{
	color: #00A31E;
	font-size: 3.2rem;
	font-weight: 700;
	margin-top: auto;
}

.complexItemImg{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -70px;
	max-width: 210px;
}

.complexWrp{
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 6.4rem;
}

.complexWrp.active{
	display: flex;
}

.foodWrap, .foodMenu{
	width: 100%;
	position: relative;
	margin-top: 4rem;
}

.foodMenu{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.foodContent{
	width: 100%;
}

.foodItem, .foodMenuItem, .swapModalItem{
	border: 1px solid #F4F5F6;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.foodItem{
	height: auto!important;
}

.foodMenuItem{
	width: calc(100% / 5 - 96px / 5);
}

.foodItemPrice{
	margin-top: 2.4rem;
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.2;
	color: #00A31E;
}

.foodItemImg{
	width: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.foodItemImg img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.foodItemTextInner{
	width: 100%;
	height: 100%;
	padding: 2.4rem 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.foodItemTag{
	padding: 0.4rem 0.8rem;
	color: #fff;
	line-height: 1.5;
	background: #00A31E;
	border-radius: 8px;
}

.foodItemName{
	margin-top: 0.8rem;
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: 500;
}

.foodItemText{
	margin-top: 0.8rem;
	font-size: 1.2rem;
	line-height: 1.5;
}

.foodItemParams{
	width: 100%;
	margin: 2.4rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.foodItemParam{
	padding: 0rem 0.8rem;
	border-right: 1px solid #777E90;
	line-height: 1.5;
	font-size: 1.4rem;
}

.foodItemParam span{
	font-weight: 600;
}

.foodItemParam:last-child{
	border-right: none;
}

.foodItemButton{
	width: 100%;
	display: flex;
	padding: 1.2rem;
	line-height: 1.5;
	font-weight: 500;
	color: #fff;
	background: #FF6433;
	border-radius: 16px;
	margin-top: auto;
	justify-content: center;
	gap: 8px;
}

.buttonContent{
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 8px;
}

.foodItemButton.added{
	background: #00A31E;
}

.foodItemButton.added .buttonContent, .addedContent{
	display: none;
}

.addedContentButton{
	width: 24px;
	height: 24px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.addedContentButton svg{
	width: 24px;
	flex-shrink: 0;
}

.addedContent{
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.foodItemButton.added .addedContent{
	display: flex;
}

.buttonContent svg{
	width: 24px;
	flex-shrink: 0;
}

.foodTextInner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.foodTextTitle{
	text-transform: uppercase;
	font-size: 2.8rem;
	line-height: 1.2;
	font-weight: 600;
}

.foodTextText{
	font-size: 1.8rem;
	line-height: 1.5;
}

.foodForm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	margin-top: 6.4rem;
}

.foodFormItem{
	width: 100%;
	display: flex;
	gap: 16px;
}

.foodFormItemName{
	width: 100%;
	max-width: 290px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.foodFormItemNameText{
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: 500;
}

.foodFormButton{
	line-height: 1.5;
	font-weight: 500;
	color: #00A31E;
	border-bottom: 1px dashed #00A31E;
	padding: 0;
}

.foodFormItemContent{
	width: 100%;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.foodFormItemDate{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 16px;
}

.foodFormItemDateButton{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 1.6rem;
	border-radius: 16px;
	border: 1px solid #00A31E;
	color: #00A31E;
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight: 500;
	min-width: 399px;
}

.foodFormItemDateButton svg{
	width: 24px;
	flex-shrink: 0;
}

.foodFormDateText{
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: 500;
}

.foodFormChoose{
	padding: 1.6rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #B1B5C3;
	font-size: 1.7rem;
	line-height: 1.4;
	font-weight: 500;
	text-align: center;
	border: 1px solid #B1B5C3;
	border-radius: 16px;
	position: relative;
}

.foodSign{
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	color: #B1B5C3;
}

.foodSale{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #FF6433;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -20px;
	right: -10px;
	font-size: 1.4rem;
	line-height: 1.2;
	padding: 0.4rem;
}

.foodSale.block{
	width: auto;
	padding: 0.4rem 0.8rem;
	border-radius: 50px;
}

.foodFormChoose.active{
	border: 1px solid #00A31E;
	color: #00A31E;
}