.menuAdmin{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 1.2rem;
    border: 1px solid var(--main);
}

.menuAdminImg{
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuAdminImg img{
    object-fit: contain;
}

.menuAdminDelete{
    width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: #ff000010;
	border-radius: 8px;
	color: #ff0000;
}

.menuAdminItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 1.2rem;
    border: 1px solid var(--main);
}

.deleteButton{
    width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: #ff000010;
	border-radius: 8px;
	color: #ff0000;
}