.banner{
	width: 100%;
	padding: 2.4rem 0;
}

@media (max-width: 768px) {
	.banner{
		padding: 1.6rem 0;
	}
}

.bannerInner, .banner2Inner{
	width: 100%;
	border-radius: 24px;
	overflow: hidden;
	background: #F2F3EE;
	padding: 9rem 4rem 5.2rem 4rem;
	position: relative;
}

@media (max-width: 1630px) {
	.bannerInner{
		padding: 5rem 4rem;
	}
}
@media (max-width: 1065px) {
	.bannerInner{
		padding: 5rem 3rem 13rem 3rem;
	}
}
@media (max-width: 768px) {
	.bannerInner{
		padding: 4rem 1.2rem 24rem 1.2rem;
	}
}

.banner2Inner{
	padding: 4rem;
}

@media (max-width: 768px) {
	.banner2Inner {
        padding: 4rem 2rem 16rem 2rem;
    }
}

.bannerFood{
	width: 100%;
	max-width: 650px;
	position: absolute;
	right: 30px;
	bottom: -70px;
	pointer-events: none;
}

.bannerFood.small{
	max-width: 500px;
}

@media (max-width: 1630px) {
	.bannerFood {
        max-width: 450px;
        right: -55px;
    }
}
@media (max-width: 1065px) {
	.bannerFood.small {
        max-width: 380px;
    }
}
@media (max-width: 768px) {
	.bannerFood {
        bottom: -130px;
		right: -25px;
    }
}
@media (max-width: 480px) {
	.bannerFood {
        width: auto;
    }
}

.bannerSign{
	color: #fff;
	text-transform: uppercase;
	padding: 1.6rem;
	border-radius: 24px;
	position: absolute;
	font-size: 2.8rem;
	line-height: 1.2;
	font-weight: 600;
	backdrop-filter: blur(10px);
}

.bannerSign1{
	top: 78px;
	right: 35px;
	background: rgba(0, 163, 30, .5);
}

.bannerSign2{
	bottom: 20px;
	right: 400px;
	background: rgba(255, 100, 51, .5);
}

@media (max-width: 1630px) {
	.bannerSign{
		font-size: 2rem;
	}

	.bannerSign2{
		right: 200px;
	}
}
@media (max-width: 1065px) {
	.bannerSign1{
		top: 200px;
	}
}
@media (max-width: 768px) {
	.bannerSign2{
		right: 0;
		bottom: 80px;
	}

	.bannerSign1{
		top: auto;
		right: auto;
		bottom: 9px;
		left: 12px;
	}
}

.bannerContent{
	width: 100%;
	max-width: 745px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media (max-width: 1630px) {
	.bannerContent {
        position: relative;
        z-index: 2;
        max-width: 640px;
    }
}
@media (max-width: 1270px) {
	.bannerContent {
        max-width: 600px;
    }
}
@media (max-width: 1065px) {
	.bannerContent {
        max-width: 470px;
    }
}
@media (max-width: 768px) {
	.bannerContent {
        position: relative;
    }
}

.bannerTitle{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.bannerTitle span{
	text-transform: uppercase;
	font-size: 3.6rem;
	line-height: 1.2;
	font-weight: 700;
}

@media (max-width: 1270px) {
	.bannerTitle span{
		font-size: 2.4rem;
	}
}
@media (max-width: 768px) {
	.bannerTitle span{
		font-size: 3.2rem;
	}

	.bannerTitle{
		gap: 0;
	}
}
@media (max-width: 480px) {
	.bannerTitle span{
		font-size: 2.8rem;
	}
}

.bannerTitle .green{
	color: #00A31E;
}

.bannerText{
	margin-top: 0.8rem;
	font-size: 1.8rem;
	line-height: 1.5;
}

.bannerLink{
	margin-top: 2.4rem;
}

@media (max-width: 768px) {
	.bannerLink{
		padding: 1.2rem 4rem;
	}
}

.bannerLinkSmall{
	margin-top: 4rem;
}