.footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footerTop{
	width: 100%;
	background: #F2F3EE;
	padding: 9.6rem 0rem 4rem 0;
}

@media (max-width: 1065px) {
	.footerTop{
		padding: 5rem 0rem 3rem 0;
	}
}

.footerTopInner{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 24px;
}

@media (max-width: 1065px) {
	.footerTopInner{
		flex-wrap: wrap;
		gap: 48px 24px;
	}
}

.footerItem{
	width: calc(100% / 4 - 72px / 4);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

@media (max-width: 1065px) {
	.footerItem{
		width: calc(100% / 2 - 24px / 2);
		gap: 20px;
	}
}
@media (max-width: 450px) {
	.footerItem{
		width: 100%;
	}
}

.footerContacts{
	gap: 40px;
}

@media (max-width: 1065px) {
	.footerContacts{
		gap: 24px;
	}
}

.footerBottom{
	width: 100%;
	padding: 0.8rem 0;
	background: #0F1209;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.footerBottomInner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	flex-wrap: wrap;
}

.footerTextes{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.footerCopy, .footerText, .footerLink{
	font-size: 1.2rem;
	line-height: 1.5;
	color: #F2F3EE;
	font-family: "Roboto", serif;
}

.footerTextes .footerText{
	width: 100%;
	text-align: center;
}

@media (max-width: 450px) {
	.footerCopy, .footerText, .footerLink{
		font-size: 1rem;
	}
}

.footerLinks{
	display: flex;
	align-items: center;
	gap: 24px;
}

.footerLink{
	text-decoration: underline;
	padding: 0;
	border: none;
	outline: none;
}

.footerItemTitle{
	text-transform: uppercase;
	font-size: 2.8rem;
	line-height: 1.2;
	font-weight: 600;
}

@media (max-width: 1630px) {
	.footerItemTitle{
		font-size: 2.4rem;
	}
}
@media (max-width: 1065px) {
	.footerItemTitle{
		font-size: 2rem;
	}
}

.footerItemNav{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

@media (max-width: 1065px) {
	.footerItemNav{
		gap: 12px;
	}
}

.footerItemNavLink{
	color: #0F1209;
	line-height: 1.5;
	padding: 0;
}

.footerLogo{
	width: 100%;
	display: flex;
	max-width: 240px;
	height: 73px;
	position: relative;
}

@media (max-width: 1630px) {
	.footerLogo{
		max-width: 200px;
		height: 60px;
	}
}
@media (max-width: 1065px) {
	.footerLogo{
		max-width: 175px;
		height: 53px;
	}
}
@media (max-width: 450px) {
	.footerLogo{
		max-width: 240px;
		height: 73px;
	}
}

.footerLogo img{
	width: 100%;
	object-fit: cover;
}

.footerSocial{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
}

.footerSocialLink{
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.footerSocialLink img{
	object-fit: contain;
}

.footerSocialLink.green svg{
    color: #00A31E;
}

.footerSocialLink.blue svg{
    color: #1080E8;
}

.footerSocial svg{
	width: 40px;
	flex-shrink: 0;
}

.footerContact{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
}

.footerContact svg{
	width: 32px;
	flex-shrink: 0;
	color: #00A31E;
}

.footerContactWrap{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footerContactSuptitle{
	color: #777E90;
	font-size: 1.4rem;
	line-height: 1.5;
}

.footerContactLink{
	color: #0F1209;
	line-height: 1.2;
	font-size: 2.2rem;
	font-weight: 500;
}

@media (max-width: 1065px) {
	.footerContactLink{
		font-size: 2rem;
	}
}

.footerContactButton{
	padding: 0 .2rem .4rem .2rem;
	border-bottom: 1px dashed #777E90;
	color: #777E90;
	font-size: 1.4rem;
	line-height: 1.5;
}

.footerModal{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
}

.footerModalBlock{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.bold, .footerModal p span{
	font-weight: 600;
}

.footerModal ul{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-start;
	gap: 6px;
	padding-left: 2rem;
}

.footerModal ul li{
	list-style-type: disc;
}

@media (any-hover: hover) {
	.footerItemNavLink:hover{
		color: #00A31E;
	}
}