.faq{
    width: 100%;
    padding: 0.8rem 0rem 8rem 0;
}

@media (max-width: 1270px) {
	.faq{
		padding: 0.8rem 0rem 7rem 0;
	}
}
@media (max-width: 1065px) {
	.faq{
		padding: 0.8rem 0rem 6rem 0;
	}
}
@media (max-width: 998px) {
	.faq{
		padding: 0.8rem 0rem 5rem 0;
	}
}
@media (max-width: 768px) {
	.faq{
		padding: 0.8rem 0rem 4rem 0;
	}
}

.faqInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faqTitleWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.faqTitleInner{
    width: 100%;
    margin-top: 8rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 24px;
}

@media (max-width: 1065px) {
    .faqTitleInner{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width: 768px) {
    .faqTitleInner{
        margin-top: 4rem;
    }
}

.faqCats{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
}

.faqCat{
	width: calc(100% / 5 - 64px / 5);
	padding: 1.6rem;
	border-radius: 8px;
	border: 1px solid #E6E8EC;
	background: #FCFCFD;
	display: flex;
	align-items: center;
	gap: 16px;
	color: #B1B5C3;
	font-size: 2.4rem;
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;
}

.faqCat svg{
	width: 80px;
	flex-shrink: 0;
	color: #B1B5C3;
	transition: .2s linear;
}

@media (max-width: 1630px) {
    .faqCat svg{
		width: 50px;
		height: 50px;
	}

	.faqCat{
		font-size: 2rem;
	}

	.faqCat{
		width: calc(100% / 3 - 32px / 3);
	}
}
@media (max-width: 768px) {
    .faqCat{
		width: calc(100% / 2 - 16px / 2);
	}
}
@media (max-width: 480px) {
    .faqCat{
		width: 100%;
		gap: 8px;
		padding: 0.8rem;
	}

	.faqCat svg{
		width: 32px;
		height: 32px;
	}
}

.faqCat.active{
	color: #0F1209;
}

.faqCat.active svg{
	color: #00A31E;
}

@media (any-hover: hover) {
    .faqCat:hover{
		color: #0F1209;
	}
	
	.faqCat:hover svg{
		color: #00A31E;
	}
}

.reviewsTitleWrap{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.faqText{
	width: 100%;
	max-width: 760px;
	font-size: 1.8rem;
	line-height: 1.5;
}

@media (max-width: 1270px) {
    .faqText{
		font-size: 1.6rem;
		max-width: 500px;
	}
}
@media (max-width: 1065px) {
    .faqText{
		max-width: 100%;
	}
}
@media (max-width: 768px) {
    .faqText{
		font-size: 1.8rem;
	}
}

.faqContent{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

@media (max-width: 480px) {
    .faqContent{
        gap: 16px
    }
}