.orders{
    width: 100%;
    padding: 0.8rem 0rem 8rem 0;
}

@media (max-width: 768px) {
	.orders{
		padding: 0.8rem 0rem 4rem 0;
	}
}

.ordersInner{
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ordersContent{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .ordersContent{
        flex-direction: column;
        align-items: flex-start;
    }
}

.ordersSidebar{
	width: 100%;
	max-width: 366px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 4rem;
	box-shadow: 0 8px 16px -8px rgba(15, 15, 15, .2);
	border-radius: 16px;
	position: sticky;
	top: 8px;
}

@media (max-width: 1630px) {
    .ordersSidebar{
		padding: 2.4rem;
	}
}
@media (max-width: 1270px) {
    .ordersSidebar{
		max-width: 265px;
	}
}
@media (max-width: 768px) {
    .ordersSidebar{
		max-width: 100%;
		position: relative;
		top: 0;
	}
}
@media (max-width: 480px) {
    .ordersSidebar{
		padding: 1.6rem;
	}
}

.ordersTab{
	width: 100%;
	padding: 1.6rem;
	color: #777E90;
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: 500;
	text-align: left;
}

.ordersTab.active{
	color: #00A31E;
}

@media (max-width: 1270px) {
    .ordersTab{
        font-size: 1.8rem;
		padding: 1.6rem 0;
    }
}

.ordersList{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 4rem;
	box-shadow: 0 8px 16px -8px rgba(15, 15, 15, .2);
	border-radius: 16px;
	gap: 24px;
}

@media (max-width: 1270px) {
    .ordersList{
		padding: 2.4rem;
	}
}
@media (max-width: 480px) {
    .ordersList{
		padding: 1.6rem;
	}
}

.configContent{
	width: 100%;
	padding: 4rem;
	border-radius: 16px;
	background: #FCFCFD;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

@media (max-width: 768px) {
	.configContent{
		padding: 2.4rem;
	}
}

@media (max-width: 480px) {
	.configContent{
		padding: 4rem 0;
	}
}

.configTextInner{
	width: 100%;
	max-width: 760px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.configTitle{
	text-transform: uppercase;
	font-size: 2.8rem;
	font-weight: 600;
	line-height: 1.2;
}

.configText{
	line-height: 1.5;
	font-size: 1.8rem;
}

.configText span{
	color: #00A31E;
}

.configItems{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.configItem{
	width: calc(100% / 3 - 48px / 3);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

@media (max-width: 1270px) {
	.configItem{
		width: calc(100% / 2 - 24px / 2);
	}
}
@media (max-width: 768px) {
	.configItem{
		width: 100%;
	}
}

.changeModal{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	margin-top: 2.4rem;
}

.configItemSuptext{
	color: #777E90;
	font-size: 1.8rem;
	line-height: 1.5;
}

.configItemTitle{
	font-size: 2.8rem;
	font-weight: 600;
	line-height: 1.2;
}

@media (max-width: 1630px) {
	.configItemTitle{
		font-size: 2.4rem;
	}
}
@media (max-width: 1065px) {
	.configItemTitle{
		font-size: 2rem;
	}

	.configItemSuptext, .configText{
		font-size: 1.6rem;
	}
}

.configItemTitle span{
	color: #00A31E;
}

.configItemButton{
	margin-top: 0.8rem;
	color: #00A31E;
	border-bottom: 1px dashed #00A31E;
	line-height: 1.5;
	font-weight: 500;
	padding: 0;
}

// Замены
.swapDateInner{
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

@media (max-width: 1065px) {
	.swapDateInner{
		flex-direction: column;
		align-items: flex-start;
	}
}

.swapDateTitle{
	width: 100%;
	max-width: 210px;
	font-size: 2.2rem;
	line-height: 1.2;
	font-weight: 600;
	flex-shrink: 0;
}

.swapDateButtons{
	width: calc(100% - 210px - 16px);
	display: flex;
	gap: 16px;
}

@media (max-width: 1065px) {
	.swapDateButtons{
		width: 100%;
	}
}
@media (max-width: 768px) {
	.swapDateButtons{
		gap: 8px;
	}
}

.swapDaysSlider{
	width: calc(100% - 150px - 32px);
}

@media (max-width: 1065px) {
	.swapDaysSlider{
		width: calc(100% - 84px - 32px);
	}
}
@media (max-width: 768px) {
	.swapDaysSlider{
		width: calc(100% - 84px - 16px);
	}
}

.swapDateButton{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #B1B5C3;
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: 500;
	border: 1px solid #B1B5C3;
	border-radius: 16px;
	padding: 1.6rem;
	text-transform: capitalize;
}

@media (max-width: 1270px) {
	.swapDateButton{
		font-size: 1.6rem;
	}
}
@media (max-width: 768px) {
	.swapDateButton{
		font-size: 1.5rem;
	}
}
@media (max-width: 450px) {
	.swapDateButton{
		font-size: 1.4rem;
	}
}

.swapDateButton.active{
	border: 1px solid #00A31E;
	color: #00A31E;
}

.swapDateButton.disabled{
	opacity: 0.65;
	pointer-events: none;
	filter: grayscale(1);
}

.swapDateButton.arrow{
	width: 75px;
}

@media (max-width: 1065px) {
	.swapDateButton.arrow{
		width: 42px;
	}
}

.swapDateButton.arrow svg{
	width: 24px;
	flex-shrink: 0;
	color: #00A31E;
}

.swapItems{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.swapItem{
	width: 100%;
	border: 1px solid #F4F5F6;
	border-radius: 8px;
	display: flex;
	align-items: flex-start;
	background: #fff;
}

.swapItemImg{
	width: 132px;
	height: 132px;
	display: flex;
	padding: 1.2rem;
	flex-shrink: 0;
	position: relative;
}

.swapItemImg img{
	object-fit: cover;
}

@media (max-width: 768px) {
	.swapItem{
		flex-direction: column;
		align-items: flex-start;
	}

	.swapItemImg{
		padding-bottom: 0;
	}
}

.swapItemContent{
	width: 100%;
	padding: 1.6rem;
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

@media (max-width: 1065px) {
	.swapItemContent{
		flex-direction: column;
		align-items: flex-start;
	}
}

.swapItemButton{
	flex-shrink: 0;
}

@media (max-width: 768px) {
	.swapItemButton{
		width: 100%;
		text-align: center;
	}
}

.swapItemWrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.swapItemName{
	text-transform: uppercase;
	font-size: 2.8rem;
	line-height: 1.2;
	font-weight: 600;
	margin-top: 0.8rem;
}

@media (max-width: 768px) {
	.swapItemName{
		font-size: 2rem;
	}
}

.swapItemText{
	font-size: 1.4rem;
	line-height: 1.5;
	margin-top: 0.8rem;
}

.swapItemParams, .swapItemParamsMini{
	width: 100%;
	margin-top: 2.4rem;
	display: flex;
	flex-wrap: wrap;
}

.swapItemParamsMini{
	margin: 0 0 2rem 0;
	gap: 8px 0;
}

.swapItemParam{
	width: calc(100% / 4);
	display: flex;
	justify-content: center;
	border-right: 1px solid #777E90;
	line-height: 1.5;
}

.swapItemParamsMini .swapItemParam{
	font-size: 1.4rem;
	width: calc(100% / 2);
}

.swapItemParamsMini .swapItemParam{
	border: none;
}

@media (max-width: 450px) {
	.swapItemParam{
		font-size: 1.4rem;
	}
}

.swapItemParam:last-child{
	border-right: none;
}

.swapElems{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.swapElem{
	width: calc(100% / 6 - 80px / 6);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #F4F5F6;
	background: #fff;
}

@media (max-width: 1630px) {
	.swapElem{
		width: calc(100% / 4 - 48px / 4);
	}
}
@media (max-width: 1065px) {
	.swapElem{
		width: calc(100% / 3 - 32px / 3);
	}
}
@media (max-width: 768px) {
	.swapElem{
		width: 100%;
	}
}

.swapElemWrapper{
	width: 100%;
	padding: 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
}

.swapElemImg{
	width: 132px;
	height: 132px;
	display: flex;
	padding: 1.2rem;
	position: relative;
	flex-shrink: 0;
}

.swapElemImg img{
	object-fit: cover;
}

.swapElemTitle{
	text-transform: uppercase;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;
}

.swapElemText{
	width: 100%;
	margin: 0.8rem 0 2.4rem 0;
	font-size: 1.2rem;
	line-height: 1.5;
}

.swapElemButton{
	margin-top: auto;
}

.orderWarn{
	color: #F40D29;
}

.orderWarn span{
	font-weight: 700;
}

.orderList{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.orderListItem{
	width: 100%;
}

.orderListItemPrice{
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.2;
	color: #00A31E;
	flex-shrink: 0;
}

.swapModalContent{
	width: 100%;
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.swapModalItem{
	width: calc(100% / 3 - 48px / 3);
}

@media (max-width: 1065px) {
	.swapModalItem{
		width: calc(100% / 2 - 24px / 2);
	}
}
@media (max-width: 768px) {
	.swapModalItem{
		width: 100%;
	}
}

.makeorderButtons{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	margin-top: 8rem;
}

.makeorderButton{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 1.5rem;
	border: 1px solid #00A31E;
	background: none;
	color: #00A31E;
	line-height: 1.5;
	font-weight: 500;
	border-radius: 16px;
}

.makeorderButton:first-child, .makeorderButton.green{
	background: #00A31E;
	color: #fff;
}

.makeorderButton svg{
	width: 24px;
	flex-shrink: 0;
}

.callForm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	margin-top: 4rem;
}

.foodItemTag{
	padding: 0.4rem 0.8rem;
	color: #fff;
	line-height: 1.5;
	background: #00A31E;
	border-radius: 8px;
}

.dishTotal{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.dishTotalPoints{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
}

.dishTotalPoints p{
	width: calc(100% / 4 - 36px / 4);
	font-size: 1.8rem;
	font-weight: 500;
}

.pagination{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 1.6rem 0;
}

.paginationButton{
    width: 36px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    color: var(--main);
    border: 1px solid var(--main);
    font-weight: 600;
}

.paginationButton.active{
    color: #fff;
    background: var(--main);
}